body {
    background: #000;
    height: 100%;
    width: 100%;
    background: #00f;

    .box {
        height: 200px;
        background: #0f0;
    }
}
.a {
    height: 300px;

    .b {
        width: 200px;
        .c {
            background: #Fff;
        }
    }
}